body {
    background-image: url('Texture 1.jpg');
}


div.poster {
    width: 80%;
    background-image:url('z7.jpg');
    border: 5px dashed rgb(255, 0, 0);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin-top: 120px;
    margin-left:10%;
}



@font-face {
    font-family: "font2"; /* Define the custom font name */
    src: url("Adrenaline-Zero.woff") format("woff"); /* Define where the font can be downloaded usually this will be the same place as your CSS file notice it's a woff file! convert your fonts */
  }
  


div.text {
    font-size: 80px;
    font-family: font2; 
    text-align: center;
    color:white;
    transition:0.5s
}

div.container {
    display:flex;
    flex-wrap: wrap;

}

div.col {
   
}

div.w1-2 {
    width: 50%;
}

/* rule 1 */

div.text.one {
    font-size: 80px;
}

div.text.two {
    font-size: 100px;
}

div.text.three {
    font-size: 120px;
}

/* rule 2 */

div.text.a {
    background-image: url('z1.png');
    background-repeat:no-repeat;
    background-size:auto;
    background-position: top left;
}

div.text.b {
    background-image: url('z1.png');
    background-repeat:no-repeat;
    background-size: 700px 300px;
    background-position: top right;
    
}

div.text.c {
    background-image: url('z1.png');
    background-repeat:no-repeat;
    background-size: 700px 300px;
    background-position: bottom left;

}

/* rule 3 */

div.text.x {
    transform: scale(-1,1);
}

div.text.y {
    transform: scale(1,1);
}

div.text.z {
    transform: scale(0,1);
}



div.small {
    font: size 15px;
    text-align: center;
    color:rgb(0, 0, 0);
}

